* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(52, 49, 49);
  color: white;
}

.container {
  width: 400px;
  border: 2px solid;
  margin: 40px auto 80px auto;
  padding: 10px;
}

.container h1 {
  text-align: center;
}

.balance {
  margin: 20px 0;
}

.balance h2 {
  font-size: 30px;
  margin: 5px 0;
}

.balanceType {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.balanceType > div {
  border: 1px solid;
  padding: 7px 35px;
  font-size: 20px;
  text-align: center;
  /* width: 100px; */
}

.line {
  width: 100%;
  height: 0.5px;
  margin: 15px 0;
  background-color: white;
}

.historyItems {
  margin-top: 10px;
}

.historyItems li {
  border: 1px solid;
  min-height: 50px;
  margin: 10px;
  padding: 0 5px;
  padding-left: 20px;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.removeBtn {
  position: absolute;
  left: 0;
  height: 50px;
  padding: 0 5px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  border: 0;
}

.historyItems li:hover .removeBtn {
  opacity: 1;
}

.historyItems li.income {
  border-right: 7px solid green;
}

.historyItems li.expense {
  border-right: 7px solid red;
}

.transactions {
  margin: 20px 0 5px 0;
}

.action {
  display: flex;
  flex-direction: column;
  margin: 7px 0;
}

.action label {
  font-size: 18px;
}

.action input {
  height: 35px;
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
  outline: none;
}

.transactions button {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 17px;
  background-color: rgb(31, 135, 247);
  color: white;
  cursor: pointer;
  border: none;
}

.transactions button:hover {
  background-color: blue;
  transition: all 0.3s ease;
}

.feedbackText {
  text-align: center;
  color: rgb(209, 205, 205);
}
